body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    background-color: #701600;
    padding-right: 75px;
}

.subHeader
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px;
    background-color: #701600;
}
.subHeadText
{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 400px;
}
.title
{
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.title,button,a,.text
{
    font-family: Arial, Helvetica, sans-serif;
}

.logo
{
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding-left: 75px;
}

ul
{
    display: flex;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    gap: 25px;
}
a
{
    text-decoration: none;
    color: white;
}

