body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    background-color: #701600;
    padding-right: 305px;
    padding-left: 232px;
}

.subHeader
{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: #701600;
    gap: 25px;
}

.subHeader .image
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: grey;
    width: 500px;
    height: 250px;
}

.subHeadText
{
    font-size: 18px;
    color: white;
    height: 200px;
    width: 400px;
}
.title
{
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.title,button,a,.text
{
    font-family: Arial, Helvetica, sans-serif;
}

.logo
{
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding-left: 75px;
}

.content
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 45px;
}


.content p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img
{
    width: 150px;
    height: 150px;
}

.content .image
{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    min-width: 150px;
    border:#701600 solid;
    border-radius: 8px;
    margin-top: 25px;
}

.midtitle
{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    justify-content: center;
    color: #701600;
    font-size: 48px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.quote
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:bisque;
}

.quote .text
{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width: 800px;
}

.quote .textBy
{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

ul
{
    display: flex;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    gap: 25px;
}
a
{
    text-decoration: none;
    color: white;
}

button
{
    background-color: #f0c7a5;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    margin-top: 10px;
}

.bottom
{
    display: flex;
    margin: 75px;
    justify-content: center;
    align-content: center;
}

.signup
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#a3513c;
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 100px;
}

.signUpTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.signUpText
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #701600;
    color:white;
}